# Copy this file to .env.local and fill in your values

# Google Apps Script Web App URL
# Get this after deploying your Apps Script project as a web app
NEXT_PUBLIC_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxzJKL57yU2yQrELuUfy4--rhsqm4VhBlTGIQ6JYQQcFQKoCeWIN-rHlwooKjv_HXKRLA/exec
